<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Route!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link rel="shortcut icon" href="images/logo.jpg" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
    />

    <style type="text/css">
      table,
      td,
      th {
        border: 1px solid #ddd;
        text-align: left;
      }

      table {
        border-collapse: collapse;
        width: 99%;
      }

      th,
      td {
        padding: 15px;
      }
    </style>
  </head>

  <body>
    <nav
      class="navbar footer-text navbar-expand-lg navbar-dark bg-dark"
      style="width: 100vw"
    >
      <div class="container">
        <img src="images/logo.jpg" alt="" width="75" height="50" />
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link myNavLink"
                aria-current="page"
                href="./index.html"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link myNavLink"
                aria-current="page"
                href="./about.html"
                >About Us</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link myNavLink"
                aria-current="page"
                href="./testimonials.html"
                >Testimonials</a
              >
            </li>

            <li class="nav-item">
              <a
                class="nav-link myNavLink"
                aria-current="page"
                href="./gallery.html"
                >Gallery</a
              >
            </li>

            <li class="nav-item">
              <a
                class="nav-link myNavLink"
                aria-current="page"
                href="./contact.html"
                >Contact Us</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active myNavLink"
                aria-current="page"
                href="/admin"
                >Admin</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <h2 class="text-center mt-4 heading text-success">
      Data from the Database
    </h2>

    <div class="mb-5 mt-3 mx-5 table-data">
      <table border="1">
        <tr>
          <th>S.No</th>
          <th>Full Name</th>
          <th>Email Address</th>
          <th>Phone</th>
          <th>Message</th>
          <!-- <th>Edit</th> -->
          <!-- <th>Delete</th> -->
        </tr>

        <% if(userData.length!=0){ var i=1; userData.forEach(function(data){ %>
        <tr>
          <td><%=i; %></td>
          <td><%=data.data.name %></td>
          <td><%=data.data.email %></td>
          <td><%=data.data.phone %></td>
          <td><%=data.data.message %></td>
        </tr>
        <% i++; }) %> <% } else{ %>
        <tr>
          <td colspan="7">No Data Found</td>
        </tr>
        <% } %>
      </table>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
